*{
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background: radial-gradient(circle at bottom, #1b0033, #000);
}

/* full màn hình + perspective*/
.space {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
}

/*vòng xoay*/
.carousel {
  position: relative;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
}

.carousel img {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 12px;
  object-fit: cover;
  cursor: pointer;

  transform-style: preserve-3d;
  transition: transform 0.6s ease, opacity 0.5s ease, filter 0.5s ease;

  animation: orbit 100s linear infinite;
  animation-delay: var(--delay);
  backface-visibility: hidden;
  will-change: transform;
}

.carousel img.active {
  animation: none !important;
  z-index: 999;
  /* animation-play-state: paused; */
  transform:
    translate(-50%, -50%)
    /* rotateY(var(--angle)) */
    rotateY(0deg)
    /* translateZ(calc(var(--radius) * 1.2)) */
    translateZ(700px)
    scale(2) !important;
  /* transition: transform 0.6s cubic-bezier(0.34, 1.56, 0.64, 1); Hiệu ứng đàn hồi */
  /* transition: transform 0.6s ease; */
  box-shadow: 0 30px 80px rgba(0,0,0,0.7);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
}

.carousel.paused img {
  animation-play-state: paused;
}

.carousel.paused img:not(.active) {
  opacity: 0.2;
  filter: blur(2px);
  pointer-events: none;
  /* transition: all 0.5s ease; */
}


@keyframes orbit{
  from {
    transform:
      translate(-50%, -50%)
      rotateY(var(--angle))
      translateZ(var(--radius));  }
  to {
    transform:
      translate(-50%, -50%)
      rotateY(calc(var(--angle) + 360deg))
      translateZ(var(--radius));
    }
}

/* nền mờ */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 100;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}
